{% extends 'base.html.j2'%}

{% block css%}
<link rel="stylesheet" href="{{url_for('static', filename='css/pokemon.css')}}">
{%endblock%}

{%block title%}
    Pokemon Battle
{%endblock%}

{%block content%}
    <div class="continer-fluid container text-center">
  <div class="row">
    <div class="col">
      <div class="cards">
                {%for poke in pokemon%}
                {% include './includes/_pokemon.html.j2'%}
                {%endfor%}
                <p>{{current_user.get_battle_record()}}</p>
                <a href = "{{url_for('social.show_users')}}"class="btn btn-success">Back</a>
            <div>
    </div>
    <div class="col">
      
    </div>
  </div>
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col">
      VS<li class="list-group-item"><a href ="{{url_for('main.battle', id=user.id)}}" class="btn btn-danger">Attack</a></li>
    </div>
    <div class="col">
      
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="cards">
                {%for poke in pokemon1%}
                {% include './includes/_pokemon.html.j2'%}
                {%endfor%}
                <p>{{user.get_battle_record()}}</p>
                <a href = "{{url_for('social.show_users')}}"class="btn btn-success">Back</a>
            <div>
    </div>
    <div class="col">
      
    </div>
    <div class="col">
      
    </div>
  </div>
</div>
    
    


{%endblock%}