{% extends 'base.html.j2' %}
{% block title %}
Catch Pokemon
{% endblock %}

{%block css %}
 <link rel="stylesheet" href="{{url_for('static', filename='css/pokemon.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
      <h1 >Gotta Catch 'Em All</h1>
      <form action="{{url_for('pokemon')}}" method="POST">
      {{form.hidden_tag()}}
      <div class="mb-3">
          {{form.pokemon_name.label(class="form-label")}}
          {{form.pokemon_name(class="form-control", style= "width:30%;")}}
          {% for error in form.pokemon_name.errors%}
              <p>{{error}}</p>
           {% endfor %}
        </div>
        <div>
        {{form.submit(class="btn btn-success")}}<br>
         <p>{{error}}</p>
       </div>
      </form>
    
    {% if pokemon%}
    <div class="card" style="width: 18rem;">
  <img src="{{pokemon['photo']}}" class="card-img-top" alt="Picture of Pokemon">
  <div class="card-body">
    <h5 class="card-title">{{pokemon['name']}}</h5>
    <p class="card-text">
    <li class="abilities">Ability: {{pokemon['ability']}}</li>
    <li class="base_experiance">Base Experiance: {{pokemon['base experiance']}}</li>
    <li class="attack">Base Attack Stat: {{pokemon['attack base stat']}}</li>
    <li class="health">Health points: {{pokemon['hp base stat']}}</li>
    <li class="defense">Base Defense Stat: {{pokemon['defense stat']}}</li>
    </p>
    <a href="#" class="btn btn-primary">Catch Pokemon</a>
  </div>
</div>
    {% endif %}

{% endblock %}